@charset "utf-8";

/* common */
body{
  background:gainsboro;
}
*{margin: 0;
  box-sizing: border-box;
  }
h1{margin: 0;}
img{
  vertical-align: bottom;
  border-radius: 50%;
  }

/* header */
header{
  background-color: #eee;
  margin:0;

}
.box-1{
  background-color: rgba(212, 255, 0, 0.384);
  margin:0;
  border-width:4px; 
  border-color: gray;
  border-style: solid;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 8px;
}


/* main */


/* footer */


